.container {
    width: 500px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
}
.form-row{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.content{
    margin-left: 10px;
}
.chung {
    margin-left: 10px;
    min-width: 150px;
}
.noidung {
    width: 300px;
    height: 100px;
}

.form-button {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.confirm{
    border-radius: 5px;
    border: 1px solid #929292;
    background-color: #fffbfb;
    text-align: center;
    width: 500px;
}
.flex{
    display: flex;
    justify-content: center;
}