.allnew {
    position: relative;
}

.news_1 {
    margin: 10px;
}

.news_1:hover {
    padding: 5px;
    background-color: #FFB238;
    box-shadow: 5px 5px #888888;
}

.news_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news_2_item {
    width: 200px;
}

.news_2_item:hover {
    padding: 5px;
    background-color: #FFB238;
    box-shadow: 5px 5px #888888;
}

.news_3_item:hover {
    padding: 5px;
    background-color: #FFB238;
    box-shadow: 5px 5px #888888;
}

 :root {
    --margin-header_news: 80px;
}

.container_news_detail {
    display: flex;
    justify-content: center;
}